#head{
    
    background-size: 100% 150%;
    background-image: linear-gradient(180deg,red,blue,yellow);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 40px;
    animation: text-background 2s infinite;
}

#bg{
    border-radius: 40px!important;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    margin: 10px;
}

body{
    margin:0;
    padding:0;
    
    background-image:linear-gradient(-90deg,black,#3d3dff,#3d3dff,black);
}

@keyframes body-background {
    0%{
        background-position: left;
    }

    100%{
        background-position:right;
    }
}
@keyframes text-background {
    0%{
        background-position: top;
    }

    50%{
        background-position: bottom;
    }

    100%{
        background-position: top;
    }
}

.modal p{
    font-size: large;
}

div[class*="white"],.btn[class*="white"]{
    box-shadow: 9px 9px 10px black;
}

div[class*="white"]{
    border-radius:20px;
}

#camera{
    width: 355px!important;
    height: 310px!important;
    border: 3px dashed black;
}